*{
    margin: 0;
    padding: 0;
}

.headerbar{
    display: flex;
    text-align: right;
    background-color: lightgray;
    height: 80px;
    width: 100%;
}

.bookcategory{
    margin: 25px;
    margin-right: 30%;
    right: 20px;
}
.category{
    margin-left: 230%;
    height: 25px;
    border-radius: 10px;
}
.search{
    margin: 25px;  
    height: 25px;
    border-radius: 10px;
    border: 1px solid rgb(134, 130, 130);
}
.inputbtn{
    margin: -20px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;

}
.colorsmode{
    position: relative;
    margin: 25px;
    width: 80px;
    height: 25px;
    left: 5%;
    border-radius: 10px;
    border: 1px solid rgb(170, 170, 170);
    
}

.logo{
    font-family: 'Gloria Hallelujah', cursive;
    padding: -10px;
    margin-left: 20px;
    color: rgb(212, 190, 198);
}

.bookhome{
    /* background-color: darkseagreen; */
}
.cards{
    /* background-color: moccasin; */
    display: inline-block;
    margin: 10px;
    margin-left: 55px;
   
}
.card{
    width: 300px;
    height: 450px;
    padding: 10px;
    margin: 10px;
    text-align: center;
   
}
.book_img{
    height: 400px;
    width: 250px;
    opacity: 1;
    border-radius: 30px;
}

.book_info{
    padding: 0px;
    margin: -25px;

}
.book_title{
    margin: 5px;
}
.publice{
    margin: 5px;
}
button{
    margin: 5px;
}
.rating{
    padding-top: 7px;
   width: 60px;
   height: 30px;
   position: relative;
   top: 50px;
   left: 40px;
   opacity: 0.6;
   background-color: rgb(202, 185, 185);
   border-radius: 10px; 
}

.bookstatus{
    padding-top: 7px;
    width: 85px;
    height: 30px;
    position: relative;
    top: -45px;
    left:180px;
    background-color: white;
    opacity: 0.7;
    /* border: 1px solid black; */
    border-radius: 15px;
}

btn:hover{
    background-color: rgb(185, 168, 168);
}

.footer{
    /* background-color: black; */
     background-image: url("https://fsb.zobj.net/crop.php?r=BQw6nv8pTEDp31Sv3tNPpTNRa4_l9AkOkWFd2AL0OqpNPHTca7sdoxBvLB0uSmnjEqSRb9C1bqI0DMG-HPfeosSyRVrE91K-x_cVW52aIDEeho6r6_ymv3c1lPRiubmQxmxLi3pSDjS3HTTt");
    color: black;
    text-align: center;
    opacity: 0.6;
    width: auto;
    height: 100px;
    margin: 2px;
    padding: 20px;
}


